<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Heading 1</h1>
        <b>Test</b>
    </body>
    <footer>
        <p>{{year}}</p>
    </footer>
</html>